<root>
  <FileGroup Name="dashboard.generated.min.js">
    <File Path="../shared/control-core.js" Minify="true"/>
    <File Path="../shared/control-display.js" Minify="true"/>
    <File Path="../shared/control-icons.js" Minify="true"/>
    <File Path="../shared/datamodel.js" Minify="true"/>
    <File Path="../shared/entity-core.js" Minify="true"/>
    <File Path="../shared/entity-constants.js" Minify="true"/>
    <File Path="../shared/entity-objects.js" Minify="true"/>
    <File Path="activitygallery.js" Minify="true"/>
    <File Path="dashboard.js" Minify="true"/>
    <File Path="folderlist.js" Minify="true"/>
    <File Path="foldermanager.js" Minify="true"/>
    <File Path="listeditor.js" Minify="true"/>
    <File Path="itemeditor.js" Minify="true"/>
    <File Path="suggestionlist.js" Minify="true"/>
    <File Path="suggestionmanager.js" Minify="true"/>
  </FileGroup>
</root>