<root>
  <FileGroup Name="dashboard.generated.min.js">
    <File Path="../shared/controls.js" Minify="true"/>
    <File Path="../shared/datamodel.js" Minify="true"/>
    <File Path="../shared/entities.js" Minify="true"/>
    <File Path="../shared/entityconstants.js" Minify="true"/>
    <File Path="activitygallery.js" Minify="true"/>
    <File Path="dashboard.js" Minify="true"/>
    <File Path="folderlist.js" Minify="true"/>
    <File Path="foldermanager.js" Minify="true"/>
    <File Path="listeditor.js" Minify="true"/>
    <File Path="itemeditor.js" Minify="true"/>
    <File Path="suggestionlist.js" Minify="true"/>
    <File Path="suggestionmanager.js" Minify="true"/>
  </FileGroup>
</root>