<root>
  <FileGroup Name="nextsteps-mobile.generated.min.js">
    <File Path="../shared/control-core.js" Minify="true"/>
    <File Path="../shared/control-display.js" Minify="true"/>
    <File Path="../shared/control-icons.js" Minify="true"/>
    <File Path="../shared/datamodel.js" Minify="true"/>
    <File Path="../shared/entity-core.js" Minify="true"/>
    <File Path="../shared/entity-constants.js" Minify="true"/>
    <File Path="../shared/entity-objects.js" Minify="true"/>
    <File Path="actiontypelist.js" Minify="true"/>
    <File Path="activitylist.js" Minify="true"/>
    <File Path="activitymanager.js" Minify="true"/>
    <File Path="categorylist.js" Minify="true"/>
    <File Path="infomanager.js" Minify="true"/>
    <File Path="itemviewer.js" Minify="true"/>
    <File Path="nextstepspage.js" Minify="true"/>
    <File Path="steplist.js" Minify="true"/>
    <File Path="stepmanager.js" Minify="true"/>
  </FileGroup>
</root>