<root>
  <FileGroup Name="nextsteps.generated.min.js">
    <File Path="actiontypelist.js" Minify="true"/>
    <File Path="nextstepsmodel.js" Minify="true"/>
    <File Path="nextstepspage.js" Minify="true"/>
    <File Path="steplist.js" Minify="true"/>
    <File Path="stepmanager.js" Minify="true"/>
  </FileGroup>
</root>