// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>
// For the blue version of the icons, just add the .icon-blue class:
// <i class="icon-inbox icon-blue"></i>
// For the large version of the icons, just add the .icon-large class:
// <i class="icon-inbox icon-large"></i>

@iconAwesomeSpritePath:             "images/awesome-sprites.png";
@iconAwesomeSpritePathWhite:        "images/awesome-sprites-white.png";
@iconAwesomeSpritePathBlue:         "images/awesome-sprites-blue.png";
@iconAwesomeSpritePathLarge:        "images/awesome-sprites-large.png";
@iconAwesomeSpritePathWhiteLarge:   "images/awesome-sprites-white-large.png";
@iconAwesomeSpritePathBlueLarge:    "images/awesome-sprites-blue-large.png";

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  .ie7-restore-right-whitespace();
  line-height: 18px;
  vertical-align: text-top;
  background-image: url("@{iconAwesomeSpritePath}");
  background-position:18px 18px;
  background-repeat: no-repeat;
}
.icon-white { background-image: url("@{iconAwesomeSpritePathWhite}"); }
.icon-blue { background-image: url("@{iconAwesomeSpritePathBlue}"); }
.icon-large { width: 26px; height: 24px; line-height: 24px; background-image: url("@{iconAwesomeSpritePathLarge}"); }
.icon-large.icon-white { background-image: url("@{iconAwesomeSpritePathWhiteLarge}"); }
.icon-large.icon-blue { background-image: url("@{iconAwesomeSpritePathBlueLarge}"); }

// style elements using icon sprites
.nav-pills li:hover .icon-blue, .btn:hover .icon-blue { background-image: url("@{iconAwesomeSpritePath}"); }
.nav-pills li:hover .icon-large.icon-blue, .btn:hover .icon-large.icon-blue { background-image: url("@{iconAwesomeSpritePathLarge}"); }
.nav-pills li.active [class^="icon-"], .nav-pills li.active [class*=" icon-"] { background-image: url("@{iconAwesomeSpritePathWhite}"); }
.nav-pills li.active .icon-large, .nav-pills li.active:hover .icon-large { background-image: url("@{iconAwesomeSpritePathWhiteLarge}"); }

.nav-pills li.active .dropdown-menu li i { background-image: url("@{iconAwesomeSpritePath}"); }
.nav-pills li.active .dropdown-menu li:hover i { background-image: url("@{iconAwesomeSpritePathWhite}"); }
.dropdown-menu li .icon-large { background-image: url("@{iconAwesomeSpritePathLarge}"); }
.dropdown-menu li:hover .icon-large { background-image: url("@{iconAwesomeSpritePathWhiteLarge}"); }


@iconH: -24;
@iconV: -23;
@hOff: 0px;
@vOff: 0px;
.imagePos(@h, @v) { background-position: (@iconH * @h) - @hOff (@iconV * @v) - @vOff; }

.icon-glass              { .imagePos(0px,  0px); }
.icon-music              { .imagePos(1px,  0px); }
.icon-search             { .imagePos(2px,  0px); }
.icon-envelope           { .imagePos(3px,  0px); }
.icon-heart              { .imagePos(4px,  0px); }
.icon-star               { .imagePos(5px,  0px); }
.icon-star-empty         { .imagePos(6px,  0px); }
.icon-user               { .imagePos(7px,  0px); }
.icon-film               { .imagePos(8px,  0px); }
.icon-th-large           { .imagePos(9px,  0px); }
.icon-th-list            { .imagePos(10px, 0px); }
.icon-ok                 { .imagePos(11px, 0px); }
.icon-remove             { .imagePos(12px, 0px); }
.icon-zoom-in            { .imagePos(13px, 0px); }
.icon-steps              { .imagePos(14px, 0px); }

.icon-zoom-out           { .imagePos(0px,  1px); }
.icon-off                { .imagePos(1px,  1px); }
.icon-signal             { .imagePos(2px,  1px); }
.icon-cog                { .imagePos(3px,  1px); }
.icon-trash              { .imagePos(4px,  1px); }
.icon-home               { .imagePos(5px,  1px); }
.icon-file               { .imagePos(6px,  1px); }
.icon-time               { .imagePos(7px,  1px); }
.icon-road               { .imagePos(8px,  1px); }
.icon-download-alt       { .imagePos(9px,  1px); }
.icon-download           { .imagePos(10px, 1px); }
.icon-upload             { .imagePos(11px, 1px); }
.icon-inbox              { .imagePos(12px, 1px); }
.icon-play-circle        { .imagePos(13px, 1px); }
.icon-repeat             { .imagePos(14px, 1px); }

.icon-refresh            { .imagePos(0px,  2px); }
.icon-list-alt           { .imagePos(1px,  2px); }
.icon-lock               { .imagePos(2px,  2px); }
.icon-flag               { .imagePos(3px,  2px); }
.icon-headphones         { .imagePos(4px,  2px); }
.icon-volume-off         { .imagePos(5px,  2px); }
.icon-volume-down        { .imagePos(6px,  2px); }
.icon-volume-up          { .imagePos(7px,  2px); }
.icon-qrcode             { .imagePos(8px,  2px); }
.icon-barcode            { .imagePos(9px,  2px); }
.icon-tag                { .imagePos(10px, 2px); }
.icon-tags               { .imagePos(11px, 2px); }
.icon-book               { .imagePos(12px, 2px); }
.icon-bookmark           { .imagePos(13px, 2px); }
.icon-print              { .imagePos(14px, 2px); }

.icon-camera             { .imagePos(0px,  3px); }
.icon-font               { .imagePos(1px,  3px); }
.icon-bold               { .imagePos(2px,  3px); }
.icon-italic             { .imagePos(3px,  3px); }
.icon-text-height        { .imagePos(4px,  3px); }
.icon-text-width         { .imagePos(5px,  3px); }
.icon-align-left         { .imagePos(6px,  3px); }
.icon-align-center       { .imagePos(7px,  3px); }
.icon-align-right        { .imagePos(8px,  3px); }
.icon-align-justify      { .imagePos(9px,  3px); }
.icon-list               { .imagePos(10px, 3px); }
.icon-indent-left        { .imagePos(11px, 3px); }
.icon-indent-right       { .imagePos(12px, 3px); }
.icon-facetime-video     { .imagePos(13px, 3px); }
.icon-picture            { .imagePos(14px, 3px); }

.icon-pencil             { .imagePos(0px,  4px); }
.icon-map-marker         { .imagePos(1px,  4px); }
.icon-adjust             { .imagePos(2px,  4px); }
.icon-tint               { .imagePos(3px,  4px); }
.icon-edit               { .imagePos(4px,  4px); }
.icon-share              { .imagePos(5px,  4px); }
.icon-check              { .imagePos(6px,  4px); }
.icon-move               { .imagePos(7px,  4px); }
.icon-step-backward      { .imagePos(8px,  4px); }
.icon-fast-backward      { .imagePos(9px,  4px); }
.icon-backward           { .imagePos(10px, 4px); }  
.icon-play               { .imagePos(11px, 4px); }  
.icon-pause              { .imagePos(12px, 4px); }
.icon-stop               { .imagePos(13px, 4px); }
.icon-forward            { .imagePos(14px, 4px); }

.icon-fast-forward       { .imagePos(0px,  5px); }
.icon-step-forward       { .imagePos(1px,  5px); }
.icon-eject              { .imagePos(2px,  5px); }
.icon-chevron-left       { .imagePos(3px,  5px); }
.icon-chevron-right      { .imagePos(4px,  5px); }
.icon-plus-sign          { .imagePos(5px,  5px); }
.icon-minus-sign         { .imagePos(6px,  5px); }
.icon-remove-sign        { .imagePos(7px,  5px); }
.icon-ok-sign            { .imagePos(8px,  5px); }
.icon-question-sign      { .imagePos(9px,  5px); }
.icon-info-sign          { .imagePos(10px, 5px); }
.icon-screenshot         { .imagePos(11px, 5px); }
.icon-remove-circle      { .imagePos(12px, 5px); }
.icon-ok-circle          { .imagePos(13px, 5px); }
.icon-ban-circle         { .imagePos(14px, 5px); }

.icon-arrow-left         { .imagePos(0px,  6px); }
.icon-arrow-right        { .imagePos(1px,  6px); }
.icon-arrow-up           { .imagePos(2px,  6px); }
.icon-arrow-down         { .imagePos(3px,  6px); }
.icon-share-alt          { .imagePos(4px,  6px); }
.icon-resize-full        { .imagePos(5px,  6px); }
.icon-resize-small       { .imagePos(6px,  6px); }
.icon-plus               { .imagePos(7px,  6px); }
.icon-minus              { .imagePos(8px,  6px); }
.icon-asterisk           { .imagePos(9px,  6px); }
.icon-exclamation-sign   { .imagePos(10px, 6px); }
.icon-gift               { .imagePos(11px, 6px); }
.icon-leaf               { .imagePos(12px, 6px); }
.icon-fire               { .imagePos(13px, 6px); }
.icon-eye-open           { .imagePos(14px, 6px); }

.icon-eye-close          { .imagePos(0px,  7px); }
.icon-warning-sign       { .imagePos(1px,  7px); }
.icon-plane              { .imagePos(2px,  7px); }
.icon-calendar           { .imagePos(3px,  7px); }
.icon-random             { .imagePos(4px,  7px); }
.icon-comment            { .imagePos(5px,  7px); }
.icon-magnet             { .imagePos(6px,  7px); }
.icon-chevron-up         { .imagePos(7px,  7px); }
.icon-chevron-down       { .imagePos(8px,  7px); }
.icon-retweet            { .imagePos(9px,  7px); }
.icon-shopping-cart      { .imagePos(10px, 7px); }
.icon-folder-close       { .imagePos(11px, 7px); }
.icon-folder-open        { .imagePos(12px, 7px); }
.icon-resize-vertical    { .imagePos(13px, 7px); }
.icon-resize-horizontal  { .imagePos(14px, 7px); }

.icon-bar-chart          { .imagePos(0px,  8px); }
.icon-twitter-sign       { .imagePos(1px,  8px); }
.icon-facebook-sign      { .imagePos(2px,  8px); }
.icon-camera-retro       { .imagePos(3px,  8px); }
.icon-key                { .imagePos(4px,  8px); }
.icon-cogs               { .imagePos(5px,  8px); }
.icon-comments           { .imagePos(6px,  8px); }
.icon-thumbs-up          { .imagePos(7px,  8px); }
.icon-thumbs-down        { .imagePos(8px,  8px); }
.icon-star-half          { .imagePos(9px,  8px);}
.icon-heart-empty        { .imagePos(10px, 8px); }
.icon-signout            { .imagePos(11px, 8px); }
.icon-linkedin-sign      { .imagePos(12px, 8px); }
.icon-pushpin            { .imagePos(13px, 8px); }
.icon-external-link      { .imagePos(14px, 8px); }

.icon-signin             { .imagePos(0px,  9px); }
.icon-trophy             { .imagePos(1px,  9px); }
.icon-github-sign        { .imagePos(2px,  9px); }
.icon-upload-alt         { .imagePos(3px,  9px); }
.icon-lemon              { .imagePos(4px,  9px); }
.icon-phone              { .imagePos(5px,  9px); }
.icon-check-empty        { .imagePos(6px,  9px); }
.icon-bookmark-empty     { .imagePos(7px,  9px); }
.icon-phone-sign         { .imagePos(8px,  9px); }
.icon-twitter            { .imagePos(9px,  9px); }   @hOff: -3px;
.icon-facebook           { .imagePos(10px, 9px); }   @hOff: 0px;
.icon-github             { .imagePos(11px, 9px); }
.icon-unlock             { .imagePos(12px, 9px); }
.icon-credit-card        { .imagePos(13px, 9px); }
.icon-rss                { .imagePos(14px, 9px); }

.icon-hdd                { .imagePos(0px,  10px); }
.icon-bullhorn           { .imagePos(1px,  10px); }
.icon-bell               { .imagePos(2px,  10px); }
.icon-certificate        { .imagePos(3px,  10px); }
.icon-hand-right         { .imagePos(4px,  10px); }
.icon-hand-left          { .imagePos(5px,  10px); }
.icon-hand-up            { .imagePos(6px,  10px); }
.icon-hand-down          { .imagePos(7px,  10px); }
.icon-circle-arrow-left  { .imagePos(8px,  10px); }
.icon-circle-arrow-right { .imagePos(9px,  10px); }
.icon-circle-arrow-up    { .imagePos(10px, 10px); }
.icon-circle-arrow-down  { .imagePos(11px, 10px); }
.icon-globe              { .imagePos(12px, 10px); }
.icon-wrench             { .imagePos(13px, 10px); }
.icon-tasks              { .imagePos(14px, 10px); }

.icon-group              { .imagePos(0px,  11px); }
.icon-link               { .imagePos(1px,  11px); }
.icon-cloud              { .imagePos(2px,  11px); }
.icon-beaker             { .imagePos(3px,  11px); }
.icon-cut                { .imagePos(4px,  11px); }
.icon-copy               { .imagePos(5px,  11px); }
.icon-paper-clip         { .imagePos(6px,  11px); }
.icon-save               { .imagePos(7px,  11px); }
.icon-sign-blank         { .imagePos(8px,  11px); }
.icon-reorder            { .imagePos(9px,  11px); }
.icon-list-ul            { .imagePos(10px, 11px); }
.icon-list-ol            { .imagePos(11px, 11px); }
.icon-strikethrough      { .imagePos(12px, 11px); }
.icon-underline          { .imagePos(13px, 11px); }
.icon-table              { .imagePos(14px, 11px); }

.icon-magic              { .imagePos(0px,  12px); }
.icon-truck              { .imagePos(1px,  12px); }
.icon-pinterest          { .imagePos(2px,  12px); }
.icon-pinterest-sign     { .imagePos(3px,  12px); }
.icon-google-plus-sign   { .imagePos(4px,  12px); }
.icon-google-plus        { .imagePos(5px,  12px); }
.icon-money              { .imagePos(6px,  12px); }
.icon-caret-down         { .imagePos(7px,  12px); }
.icon-caret-up           { .imagePos(8px,  12px); }
.icon-caret-left         { .imagePos(9px,  12px); }
.icon-caret-right        { .imagePos(10px, 12px); }
.icon-columns            { .imagePos(11px, 12px); }
.icon-sort               { .imagePos(12px, 12px); }
.icon-sort-down          { .imagePos(13px, 12px); }
.icon-sort-up            { .imagePos(14px, 12px); }

.icon-filter             { .imagePos(0px,  13px); }
.icon-briefcase          { .imagePos(1px,  13px); }
.icon-fullscreen         { .imagePos(2px,  13px); }
.icon-envelope-alt       { .imagePos(3px,  13px); }
.icon-linkedin           { .imagePos(4px,  13px); }
.icon-undo               { .imagePos(5px,  13px); }
.icon-legal              { .imagePos(6px,  13px); }
.icon-dashboard          { .imagePos(7px,  13px); }
.icon-comment-alt        { .imagePos(8px,  13px); }
.icon-comments-alt       { .imagePos(9px,  13px); }
.icon-bolt               { .imagePos(10px, 13px); }
.icon-sitemap            { .imagePos(11px, 13px); }
.icon-umbrella           { .imagePos(12px, 13px); }
.icon-paste              { .imagePos(13px, 13px); }
.icon-user-md            { .imagePos(14px, 13px); }


// Large Icons
@iconH: -36;
@iconV: -35;

@vOff: 2px;
.icon-large.icon-glass              { .imagePos(0px,  0px); }
.icon-large.icon-music              { .imagePos(1px,  0px); }
.icon-large.icon-search             { .imagePos(2px,  0px); }
.icon-large.icon-envelope           { .imagePos(3px,  0px); }
.icon-large.icon-heart              { .imagePos(4px,  0px); }
.icon-large.icon-star               { .imagePos(5px,  0px); }
.icon-large.icon-star-empty         { .imagePos(6px,  0px); }
.icon-large.icon-user               { .imagePos(7px,  0px); }
.icon-large.icon-film               { .imagePos(8px,  0px); }
.icon-large.icon-th-large           { .imagePos(9px,  0px); }
.icon-large.icon-th-list            { .imagePos(10px, 0px); }
.icon-large.icon-ok                 { .imagePos(11px, 0px); }
.icon-large.icon-remove             { .imagePos(12px, 0px); }
.icon-large.icon-zoom-in            { .imagePos(13px, 0px); }
.icon-large.icon-steps              { .imagePos(14px, 0px); }
@vOff: 1px;
.icon-large.icon-zoom-out           { .imagePos(0px,  1px); }
.icon-large.icon-off                { .imagePos(1px,  1px); }
.icon-large.icon-signal             { .imagePos(2px,  1px); }
.icon-large.icon-cog                { .imagePos(3px,  1px); }
.icon-large.icon-trash              { .imagePos(4px,  1px); }
.icon-large.icon-home               { .imagePos(5px,  1px); }
.icon-large.icon-file               { .imagePos(6px,  1px); }
.icon-large.icon-time               { .imagePos(7px,  1px); }
.icon-large.icon-road               { .imagePos(8px,  1px); }
.icon-large.icon-download-alt       { .imagePos(9px,  1px); }
.icon-large.icon-download           { .imagePos(10px, 1px); }
.icon-large.icon-upload             { .imagePos(11px, 1px); }
.icon-large.icon-inbox              { .imagePos(12px, 1px); }
.icon-large.icon-play-circle        { .imagePos(13px, 1px); }
.icon-large.icon-repeat             { .imagePos(14px, 1px); }

.icon-large.icon-refresh            { .imagePos(0px,  2px); }
.icon-large.icon-list-alt           { .imagePos(1px,  2px); }
.icon-large.icon-lock               { .imagePos(2px,  2px); }
.icon-large.icon-flag               { .imagePos(3px,  2px); }
.icon-large.icon-headphones         { .imagePos(4px,  2px); }
.icon-large.icon-volume-off         { .imagePos(5px,  2px); }
.icon-large.icon-volume-down        { .imagePos(6px,  2px); }
.icon-large.icon-volume-up          { .imagePos(7px,  2px); }
.icon-large.icon-qrcode             { .imagePos(8px,  2px); }
.icon-large.icon-barcode            { .imagePos(9px,  2px); }
.icon-large.icon-tag                { .imagePos(10px, 2px); }
.icon-large.icon-tags               { .imagePos(11px, 2px); }
.icon-large.icon-book               { .imagePos(12px, 2px); }
.icon-large.icon-bookmark           { .imagePos(13px, 2px); }
.icon-large.icon-print              { .imagePos(14px, 2px); }

.icon-large.icon-camera             { .imagePos(0px,  3px); }
.icon-large.icon-font               { .imagePos(1px,  3px); }
.icon-large.icon-bold               { .imagePos(2px,  3px); }
.icon-large.icon-italic             { .imagePos(3px,  3px); }
.icon-large.icon-text-height        { .imagePos(4px,  3px); }
.icon-large.icon-text-width         { .imagePos(5px,  3px); }
.icon-large.icon-align-left         { .imagePos(6px,  3px); }
.icon-large.icon-align-center       { .imagePos(7px,  3px); }
.icon-large.icon-align-right        { .imagePos(8px,  3px); }
.icon-large.icon-align-justify      { .imagePos(9px,  3px); }
.icon-large.icon-list               { .imagePos(10px, 3px); }
.icon-large.icon-indent-left        { .imagePos(11px, 3px); }
.icon-large.icon-indent-right       { .imagePos(12px, 3px); }
.icon-large.icon-facetime-video     { .imagePos(13px, 3px); }
.icon-large.icon-picture            { .imagePos(14px, 3px); }
@vOff: 0px;
.icon-large.icon-pencil             { .imagePos(0px,  4px); }   @hOff: -4px;
.icon-large.icon-map-marker         { .imagePos(1px,  4px); }   @hOff: 0px;
.icon-large.icon-adjust             { .imagePos(2px,  4px); }
.icon-large.icon-tint               { .imagePos(3px,  4px); }
.icon-large.icon-edit               { .imagePos(4px,  4px); }
.icon-large.icon-share              { .imagePos(5px,  4px); }
.icon-large.icon-check              { .imagePos(6px,  4px); }
.icon-large.icon-move               { .imagePos(7px,  4px); }   @hOff: -4px;
.icon-large.icon-step-backward      { .imagePos(8px,  4px); }   @hOff: 0px;
.icon-large.icon-fast-backward      { .imagePos(9px,  4px); }
.icon-large.icon-backward           { .imagePos(10px, 4px); }   @hOff: -3px;
.icon-large.icon-play               { .imagePos(11px, 4px); }   @hOff: 0px;
.icon-large.icon-pause              { .imagePos(12px, 4px); }   
.icon-large.icon-stop               { .imagePos(13px, 4px); }
.icon-large.icon-forward            { .imagePos(14px, 4px); }

.icon-large.icon-fast-forward       { .imagePos(0px,  5px); }   @hOff: -4px;
.icon-large.icon-step-forward       { .imagePos(1px,  5px); }   @hOff: 0px;
.icon-large.icon-eject              { .imagePos(2px,  5px); }
.icon-large.icon-chevron-left       { .imagePos(3px,  5px); }
.icon-large.icon-chevron-right      { .imagePos(4px,  5px); }
.icon-large.icon-plus-sign          { .imagePos(5px,  5px); }
.icon-large.icon-minus-sign         { .imagePos(6px,  5px); }
.icon-large.icon-remove-sign        { .imagePos(7px,  5px); }
.icon-large.icon-ok-sign            { .imagePos(8px,  5px); }
.icon-large.icon-question-sign      { .imagePos(9px,  5px); }
.icon-large.icon-info-sign          { .imagePos(10px, 5px); }
.icon-large.icon-screenshot         { .imagePos(11px, 5px); }
.icon-large.icon-remove-circle      { .imagePos(12px, 5px); }
.icon-large.icon-ok-circle          { .imagePos(13px, 5px); }
.icon-large.icon-ban-circle         { .imagePos(14px, 5px); }
@vOff: -1px;
.icon-large.icon-arrow-left         { .imagePos(0px,  6px); }
.icon-large.icon-arrow-right        { .imagePos(1px,  6px); }
.icon-large.icon-arrow-up           { .imagePos(2px,  6px); }
.icon-large.icon-arrow-down         { .imagePos(3px,  6px); }
.icon-large.icon-share-alt          { .imagePos(4px,  6px); }
.icon-large.icon-resize-full        { .imagePos(5px,  6px); }
.icon-large.icon-resize-small       { .imagePos(6px,  6px); }
.icon-large.icon-plus               { .imagePos(7px,  6px); }
.icon-large.icon-minus              { .imagePos(8px,  6px); }
.icon-large.icon-asterisk           { .imagePos(9px,  6px); }
.icon-large.icon-exclamation-sign   { .imagePos(10px, 6px); }
.icon-large.icon-gift               { .imagePos(11px, 6px); }
.icon-large.icon-leaf               { .imagePos(12px, 6px); }
.icon-large.icon-fire               { .imagePos(13px, 6px); }
.icon-large.icon-eye-open           { .imagePos(14px, 6px); }

.icon-large.icon-eye-close          { .imagePos(0px,  7px); }
.icon-large.icon-warning-sign       { .imagePos(1px,  7px); }
.icon-large.icon-plane              { .imagePos(2px,  7px); }
.icon-large.icon-calendar           { .imagePos(3px,  7px); }
.icon-large.icon-random             { .imagePos(4px,  7px); }
.icon-large.icon-comment            { .imagePos(5px,  7px); }
.icon-large.icon-magnet             { .imagePos(6px,  7px); }
.icon-large.icon-chevron-up         { .imagePos(7px,  7px); }
.icon-large.icon-chevron-down       { .imagePos(8px,  7px); }
.icon-large.icon-retweet            { .imagePos(9px,  7px); }
.icon-large.icon-shopping-cart      { .imagePos(10px, 7px); }
.icon-large.icon-folder-close       { .imagePos(11px, 7px); }
.icon-large.icon-folder-open        { .imagePos(12px, 7px); }
.icon-large.icon-resize-vertical    { .imagePos(13px, 7px); }
.icon-large.icon-resize-horizontal  { .imagePos(14px, 7px); }
@vOff: -2px;
.icon-large.icon-bar-chart          { .imagePos(0px,  8px); }
.icon-large.icon-twitter-sign       { .imagePos(1px,  8px); }
.icon-large.icon-facebook-sign      { .imagePos(2px,  8px); }
.icon-large.icon-camera-retro       { .imagePos(3px,  8px); }
.icon-large.icon-key                { .imagePos(4px,  8px); }
.icon-large.icon-cogs               { .imagePos(5px,  8px); }
.icon-large.icon-comments           { .imagePos(6px,  8px); }
.icon-large.icon-thumbs-up          { .imagePos(7px,  8px); }
.icon-large.icon-thumbs-down        { .imagePos(8px,  8px); }
.icon-large.icon-star-half          { .imagePos(9px,  8px);}
.icon-large.icon-heart-empty        { .imagePos(10px, 8px); }
.icon-large.icon-signout            { .imagePos(11px, 8px); }
.icon-large.icon-linkedin-sign      { .imagePos(12px, 8px); }
.icon-large.icon-pushpin            { .imagePos(13px, 8px); }
.icon-large.icon-external-link      { .imagePos(14px, 8px); }
@vOff: -3px;
.icon-large.icon-signin             { .imagePos(0px,  9px); }
.icon-large.icon-trophy             { .imagePos(1px,  9px); }
.icon-large.icon-github-sign        { .imagePos(2px,  9px); }
.icon-large.icon-upload-alt         { .imagePos(3px,  9px); }
.icon-large.icon-lemon              { .imagePos(4px,  9px); }
.icon-large.icon-phone              { .imagePos(5px,  9px); }
.icon-large.icon-check-empty        { .imagePos(6px,  9px); }
.icon-large.icon-bookmark-empty     { .imagePos(7px,  9px); }
.icon-large.icon-phone-sign         { .imagePos(8px,  9px); }
.icon-large.icon-twitter            { .imagePos(9px,  9px); }   @hOff: -6px;
.icon-large.icon-facebook           { .imagePos(10px, 9px); }   @hOff: 0px; 
.icon-large.icon-github             { .imagePos(11px, 9px); }
.icon-large.icon-unlock             { .imagePos(12px, 9px); }
.icon-large.icon-credit-card        { .imagePos(13px, 9px); }
.icon-large.icon-rss                { .imagePos(14px, 9px); }

.icon-large.icon-hdd                { .imagePos(0px,  10px); }
.icon-large.icon-bullhorn           { .imagePos(1px,  10px); }
.icon-large.icon-bell               { .imagePos(2px,  10px); }
.icon-large.icon-certificate        { .imagePos(3px,  10px); }
.icon-large.icon-hand-right         { .imagePos(4px,  10px); }
.icon-large.icon-hand-left          { .imagePos(5px,  10px); }
.icon-large.icon-hand-up            { .imagePos(6px,  10px); }
.icon-large.icon-hand-down          { .imagePos(7px,  10px); }
.icon-large.icon-circle-arrow-left  { .imagePos(8px,  10px); }
.icon-large.icon-circle-arrow-right { .imagePos(9px,  10px); }
.icon-large.icon-circle-arrow-up    { .imagePos(10px, 10px); }
.icon-large.icon-circle-arrow-down  { .imagePos(11px, 10px); }
.icon-large.icon-globe              { .imagePos(12px, 10px); }
.icon-large.icon-wrench             { .imagePos(13px, 10px); }
.icon-large.icon-tasks              { .imagePos(14px, 10px); }

.icon-large.icon-group              { .imagePos(0px,  11px); }
.icon-large.icon-link               { .imagePos(1px,  11px); }
.icon-large.icon-cloud              { .imagePos(2px,  11px); }
.icon-large.icon-beaker             { .imagePos(3px,  11px); }
.icon-large.icon-cut                { .imagePos(4px,  11px); }
.icon-large.icon-copy               { .imagePos(5px,  11px); }
.icon-large.icon-paper-clip         { .imagePos(6px,  11px); }
.icon-large.icon-save               { .imagePos(7px,  11px); }
.icon-large.icon-sign-blank         { .imagePos(8px,  11px); }
.icon-large.icon-reorder            { .imagePos(9px,  11px); }
.icon-large.icon-list-ul            { .imagePos(10px, 11px); }
.icon-large.icon-list-ol            { .imagePos(11px, 11px); }
.icon-large.icon-strikethrough      { .imagePos(12px, 11px); }
.icon-large.icon-underline          { .imagePos(13px, 11px); }
.icon-large.icon-table              { .imagePos(14px, 11px); }
@vOff: -4px;
.icon-large.icon-magic              { .imagePos(0px,  12px); }
.icon-large.icon-truck              { .imagePos(1px,  12px); }
.icon-large.icon-pinterest          { .imagePos(2px,  12px); }
.icon-large.icon-pinterest-sign     { .imagePos(3px,  12px); }
.icon-large.icon-google-plus-sign   { .imagePos(4px,  12px); }
.icon-large.icon-google-plus        { .imagePos(5px,  12px); }
.icon-large.icon-money              { .imagePos(6px,  12px); }
.icon-large.icon-caret-down         { .imagePos(7px,  12px); }
.icon-large.icon-caret-up           { .imagePos(8px,  12px); }
.icon-large.icon-caret-left         { .imagePos(9px,  12px); }
.icon-large.icon-caret-right        { .imagePos(10px, 12px); }
.icon-large.icon-columns            { .imagePos(11px, 12px); }
.icon-large.icon-sort               { .imagePos(12px, 12px); }
.icon-large.icon-sort-down          { .imagePos(13px, 12px); }
.icon-large.icon-sort-up            { .imagePos(14px, 12px); }
@vOff: -5px;
.icon-large.icon-filter             { .imagePos(0px,  13px); }
.icon-large.icon-briefcase          { .imagePos(1px,  13px); }
.icon-large.icon-fullscreen         { .imagePos(2px,  13px); }
.icon-large.icon-envelope-alt       { .imagePos(3px,  13px); }
.icon-large.icon-linkedin           { .imagePos(4px,  13px); }
.icon-large.icon-undo               { .imagePos(5px,  13px); }
.icon-large.icon-legal              { .imagePos(6px,  13px); }
.icon-large.icon-dashboard          { .imagePos(7px,  13px); }
.icon-large.icon-comment-alt        { .imagePos(8px,  13px); }
.icon-large.icon-comments-alt       { .imagePos(9px,  13px); }
.icon-large.icon-bolt               { .imagePos(10px, 13px); }
.icon-large.icon-sitemap            { .imagePos(11px, 13px); }
.icon-large.icon-umbrella           { .imagePos(12px, 13px); }
.icon-large.icon-paste              { .imagePos(13px, 13px); }
.icon-large.icon-user-md            { .imagePos(14px, 13px); }








