<root>
  <FileGroup Name="wizard.generated.min.js">
    <File Path="../shared/control-core.js" Minify="true"/>
    <File Path="../shared/control-display.js" Minify="true"/>
    <File Path="../shared/control-icons.js" Minify="true"/>
    <File Path="../shared/datamodel.js" Minify="true"/>
    <File Path="../shared/entity-core.js" Minify="true"/>
    <File Path="../shared/entity-constants.js" Minify="true"/>
    <File Path="../shared/entity-objects.js" Minify="true"/>
    <File Path="../dashboard/suggestionmanager.js" Minify="true"/>
    <File Path="profile-wizard.js" Minify="true"/>
  </FileGroup>
</root>