<root>
  <FileGroup Name="mobile.generated.min.css">
    <File Path="less/bootstrap-mobile.less" Minify="true"/>
    <!--<File Path="bootstrap-tweener.css" Minify="false"/>-->
    <!--<File Path="less/responsive.less" Minify="true"/>-->
    <File Path="mobile-after.less" Minify="false"/>
  </FileGroup>
</root>