/*! 
 * This css must be processed after responsive.css to override default bootstrap styles
*/

@import "bootstrap-after.less"; 
/* remove padding at bottom, no footer in mobile pages */
body { padding-bottom: 0; }

/* customize navbar styles */
.navbar .brand { margin: 0 0 0 0; }
.navbar .active img { margin: 0 0 0 0; }
.navbar-fixed-top .navbar-inner { padding: 0 0px 0 10px; }
.navbar-fixed-bottom .pull-right { margin: 12px 0px 0 0; }
.navbar .nav li a#brand { padding-left: 0px; padding-right: 0px; }
.navbar .nav li.divider-vertical { margin-left: 0px; margin-right: 0px; }
.navbar ul.nav.pull-right { margin-left: 0; }
.navbar .nav-pills li a { padding-left: 4px; padding-right: 4px; }
.navbar .nav-pills li.dropdown a { padding-left: 4px; padding-right: 10px; }

/* eliminate padding for containers */
.container-fluid { padding-left: 0px; padding-right: 0px; }

/* customize mobile viewports */

@media(max-width:768px) {
    body{padding-left:0; padding-right:0;}
    .navbar .container-fluid{width:100%;*zoom:1}
    .container, .container-fluid{width:768px;*zoom:1}
    .row-fluid [class*="span"]{min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2px;*margin-left:2px}
    .row-fluid [class*="span"]:first-child{margin-left:0}
}

@media(max-width:480px) {
    body{padding-left:0; padding-right:0;}
    .navbar .container-fluid{width:480px;*zoom:1}
    .container, .container-fluid{width:480px;*zoom:1}
    .row-fluid [class*="span"]{min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2px;*margin-left:2px}
    .row-fluid [class*="span"]:first-child{margin-left:0}
}
@media(max-width:320px) {
    body{padding-left:0; padding-right:0; }
    .navbar .container-fluid{width:320px;*zoom:1 }
    .container, .container-fluid{width:320px;*zoom:1}
    .row-fluid [class*="span"]{min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2px;*margin-left:2px}
    .row-fluid [class*="span"]:first-child{margin-left:0}
}

// style toolbar for steps 
.btn-toolbar .btn-group { vertical-align: top; }
.btn-toolbar .btn.btn-step { padding: 0; margin: 0 2px 0 0; width: 36px; height: 36px; text-align: center; }
.btn-toolbar .btn.btn-step i { padding: 0; margin: 2px 0 0 0; }
.btn-toolbar .btn.btn-step p { padding: 0; margin: -5px 0 0 0; font-size: 7pt; color: @linkColor; }
.btn-toolbar .btn.btn-step:hover p  { color: @textColor; }

// style selector buttons in left pane 
.dashboard-left .nav-stacked li { text-align: right; }
.dashboard-left .nav-stacked li .icon-large { margin: -4px 0 -4px -8px; }
.dashboard-left .nav-stacked li p { font-size: 8pt; color: @linkColor;  }
.dashboard-left .nav-stacked li.active p { font-size: 8pt; color: @white;  }


// make the modal dialogs fit the viewport for mobile
.modal { width: 280px; margin: -175px 0 0 -140px; }
